:root {
  --primary-color: #94618e;
  --second-color: #49274a;
  --primary-contrast-color: #f4decb;
  --secondary-contrat-color: #f8eee7;
}

body {
  margin: 0;
  padding: 0;
  height:100vh;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
}

.list {
  list-style: none;
}

.list-item {
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: var(--primary-color);
}

.input-todo {
  padding: 10px 0;
}

.button {
  margin: 20px auto;
  padding: 20px;
  border: 3px solid #000;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  width: 70%;
  position: relative;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
}
.button:hover {
  color:#fff;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .4s;

}

.button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  background-color: #000;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
}

.button:hover:before {
  width: 100%;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
}

.button-text {
  position: absolute;
  transform: translate(-50%, -50%)
}