@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
  --primary-color: #94618e;
  --second-color: #49274a;
  --primary-contrast-color: #f4decb;
  --secondary-contrat-color: #f8eee7;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height:100vh;
  overflow: hidden;
  background-color: var(--second-color);
}

.title {
  color: var(--secondary-contrat-color); 
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
}

.list {
  list-style: none;
}

.list-item {
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: var(--primary-color);
}

.list-item .list-item-link {
  padding-left: 20px;
  color: inherit;
}

.input-todo {
  padding: 10px 0;
  width: 100%;
}

.input-todo::placeholder {
  text-align: center;
}

.button {
  margin: 20px auto;
  padding: 20px;
  border: 3px solid var(--primary-contrast-color);
  font-size: 20px;
  font-weight: bold;
  background-color: var(--primary-color);
  width: 70%;
  position: relative;
  transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045).4s;
}
.button:hover {
  color:#000;
  transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) .4s;

}

.button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  background-color: var(--primary-contrast-color);
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) .4s;
}

.button:hover:before {
  width: 100%;
  transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) .4s;
}

.button-text {
  position: absolute;
  transform: translate(-50%, -50%)
}